@model List<RecipeItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="text-center mt-4">Recipes</h1>


    <form method="get" action="@Url.Action("Index")" style="display: flex; justify-content: center; margin-bottom: 20px;">
        <input type="text" name="searchQuery" placeholder="Search by name or category" style="width: 300px; padding: 8px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; margin-right: 10px;">
        <button type="submit" style="padding: 10px 20px; font-size: 16px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">
            Search
        </button>
    </form>

    <div class="row mt-4">
        @foreach (var recipe in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@recipe.RecipeImage" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.RecipeName</h5>
                        <p class="card-text">Category: @recipe.RecipeCategory</p>

                        @if (!string.IsNullOrEmpty(recipe.ApiRecipeId))
                        {
                            <a href="@Url.Action("ApiDetails", "Home", new { id = recipe.ApiRecipeId })" class="btn btn-primary">View Recipe</a>
                            @if (!recipe.IsFavorite)
                            {
                                <form method="post" action="@Url.Action("AddApiRecipeToFavorites", "Home", new { id = recipe.ApiRecipeId })">
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary">Add to Favorites</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="RemoveFromFavorites" asp-route-id="@recipe.RecipeId">
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-danger">Remove from Favorites</button>
                                    </div>
                                </form>
                            }

                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Home", new { id = recipe.RecipeId })" class="btn btn-primary">View Recipe</a>
                            @if (!recipe.IsFavorite)
                            {
                                <form method="post" asp-action="AddToFavorites" asp-route-id="@recipe.RecipeId">
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary">Add to Favorites</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="RemoveFromFavorites" asp-route-id="@recipe.RecipeId">
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-danger">Remove from Favorites</button>
                                    </div>
                                </form>
                            }
                        }

                    </div>
                </div>
            </div>
        }
    </div>


</div>

<style>
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-body {
        flex-grow: 1;
    }

    .card-img-top {
        object-fit: cover;
        height: 200px;
    }
</style>
