@model List<Recipe.Library.Models.Favourite>
@{
    ViewData["Title"] = "Favorite Recipes";
}

<div class="container">
    <h1 class="text-center mt-4">Favorite Recipes</h1>

    <div class="row mt-4">
        @foreach (var recipe in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@recipe.RecipeImage" class="card-img-top" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.RecipeName</h5>
                        <p class="card-text">Category: @recipe.RecipeCategory</p>
                        <p class="card-text">Favorited on: @recipe.DateFavourited</p>
                        @if (!string.IsNullOrEmpty(recipe.ApiRecipeId))
                        {
                            <a href="@Url.Action("Details", "Favourite", new { id = recipe.ApiRecipeId })" class="btn btn-primary">View Recipe</a>
                        }
                        <form asp-action="RemoveFromFavorites" method="post">
                            <input type="hidden" name="recipeId" value="@recipe.FavouriteId" />
                            <div class="mt-2"> 
                                <button type="submit" class="btn btn-danger">Remove from Favorite</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-body {
        flex-grow: 1;
    }

    .card-img-top {
        object-fit: cover;
        height: 200px;
    }
</style>
